@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");


/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; 
font-family: 'Rubik', sans-serif;
*/


.app {
  height: 100%;
  width: 100%;
  font-family: "Quicksand", sans-serif !important;
}

/* DARK MODE */

.css-16vbkgj-MuiTypography-root {
  color: #ff6e5e !important;
  font-family: 'Montserrat', sans-serif !important;
}

.css-18l7mx6-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  background-color: #ff6e5e !important;
  color: #000000 !important;
}

.css-155c1kw-MuiInputBase-root {
  width: auto !important;
  color: #ff6e5e !important;
}

.MuiBox-root {
  color: #008690 !important;
}

.css-1s9dlqc-MuiTypography-root {
  color: #ff6e5e !important;
  font-family: 'Montserrat', sans-serif !important;
}

/* LIGHT MODE */
/* .css-poa6bm-MuiButtonBase-root {
  color: #008690 !important;
} */

.css-12a2lu5-MuiTypography-root {
  color: #008690 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.css-1mb3v9h-MuiInputBase-root {
  width: auto !important;
  color: #008690 !important;
}

/* BOTH */

/* .MuiButtonBase-root {
  color: #1aa8f5!important;

} */

.MuiButton-root {
  color: #000000 !important;
}

.css-3494nj-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  background-color: #008690 !important;
  color: #ffffff !important;
}

.css-havevq-MuiSvgIcon-root {
  color: #ff6e5e !important;
}

.slide {
  text-align: left !important;

} 



